.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.navigation a ,.copyright{
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    transition-duration: 0.5s;
    margin: 0 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.navigation .active{
    background-color: var(--white);
    color: var(--black);
}

.navigation a:hover{
    background-color: var(--white);
    color: var(--black);
}

.copyright{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}


@media screen and (min-width: 768px) {
    .content {
        display: flex;
        justify-content: space-between;
    }

    .navigation {
        flex-direction: row;
    }
}